div{
    display: inline-block;
}

.image01{
    float: right;
    width: 1000px;
    height: 500px;
}

.text1{
    float: right;
}

.slime{
    float: left;
    width: 100px;
    height: 100px;
}
