* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'DQfont';
    src: url('C:/Users/iniad/Documents/GitHub/team-project/font/DragonQuestFC/DragonQuestFC.woff') format('woff');
}
@font-face{
    font-family: 'DQfont2';
    src: url('C:/Users/iniad/Documents/GitHub/team-project/font/DragonQuestFC/DragonQuestFC.woff2') format('woff2');
}

body {
    font-family: 'DQfont', 'DQfont2';
}

.box2 {
    padding: 0% 3.5%;
    font-weight: bold;
    color: #fff;/*文字色*/
    background: #000;
    border: solid 0.5vh #fff;/*線*/
    border: solid 0.5vw #fff;/*線*/
    border-radius: 5px;/*角の丸み*/
}

.box2 p {
    margin: 0; 
    padding: 0;
    font-size: 3.0vh;
    font-size: 3.0vw;
}

.box2-1 {
    padding: 1% 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #fff;/*文字色*/
    background: #000;
    border: solid 0.5vh #fff;/*線*/
    border: solid 0.5vw #fff;/*線*/
    border-radius: 5px;/*角の丸み*/
}

.box2-1 p {
    margin: 0; 
    padding: 0;
    font-size: 3vh;
    font-size: 3vw;
}

.example {/*親div*/
    position: relative;/*相対配置*/
    }
  
.example .box2 {
    position: absolute;/*絶対配置*/
    top: 25%;
    bottom: 61.5%;
    right: 26.5%;
    left: 46%;
    margin: 0%;
    }

.example .box2-1{
    position: absolute;/*絶対配置*/
    top: 56%;
    bottom: 26%;
    right: 30%;
    left: 30%;
    margin: 0%;
    }

.example img {
    padding: 20% 20%;
    vertical-align: bottom;
    background-color: #000;
    width: 60%;
    height: auto;
    background-size: auto 0%;
    background-position: center;
    background-repeat: no-repeat;
    }

.command {
    background: linear-gradient(transparent 0%, #000 0%);
    font-weight: bold;
    vertical-align: top;
    text-align: center;
}