div{
    display: inline-block;
}

.image01{
    float: right;
    width: 1000px;
    height: 500px;
}

.text1{
    float: right;
}

.slime{
    float: left;
    width: 100px;
    height: 100px;
}

h1.text_clip{
    text-align: center;
    display: inline-block;
    font: size 70px;
    font-weight: bold;
    margin: 0;
    background-image: linear-gradient(-45deg,
    #636c72 15%, rgb(66, 64, 64) 15%, 
    rgb(66, 64, 64) 25%, #636c72 25%,
    #636c72 65%, rgb(66, 64, 64) 65%,
    rgb(66, 64, 64) 75%, #636c72 75%,
    #636c72
    );
    background-size: 15px 15px;
  color: transparent;
  -webkit-text-stroke: 3px #d3f709;
  position: relative;
  }

  #g_navi{
    background: #404345
  }
  #g_navi ul{
    display: flex;
    margin: 0 auto;
    padding: 0 3%;
    width: 94%;
    max-width: 960px;
    list-style-type: none;
  }
  #g_navi ul li{
    position: relative;
    width: 20%;
  }
  #g_navi ul li:first-child::before{
    position: absolute;
    display: block;
    content: "";
    top: 25%;
    left: 0px;
    width: 1px;
    height: 50%;
    background-color: #404345;
  }
  #g_navi ul li ::after{
    position: absolute;
    display: block;
    content: "";
    top: 25%;
    right: 0px;
    width: 1px;
    height: 50%;
    background-color: #000000;
  }
  #g_navi ul li a{
    display: block;
    padding: 17px 10px;
    color:#d3f709;
    text-align: center;
    text-decoration: none;
  }
  #g_navi ul li a:hover{
    background-color: #000000;
  }